

$white: #fafafa;
$blue: #90D2E8;
$pink: lighten(#fd4772, 12);

$body-background: $blue;
$body-font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-color: $white;

$header-font-weight: bold;
$header-margin-bottom: 0;

$accent-color: $pink;

$grid-gutter: 3em;

@import "_foundation.scss";
@include foundation-global-styles;
@include foundation-typography-base;

html {
  height: 100%;
}

body {
  padding-bottom: 22em;
  position: relative;
  min-height: 100%;
  font-weight: bold;

  @include breakpoint(medium) {
    padding-bottom: 10em;
  }
}

a {
  color: darken($body-background, 32);
}

::selection {
  background: darken($accent-color,4);
  color: #ffffff;
}
::-moz-selection {
  background: darken($accent-color, 4);
  color: #ffffff;
}
::-webkit-selection {
  background: darken($accent-color, 4);
  color: #ffffff;
}

/* === center content horizontally === */

.wrap {
  @include clearfix();

  max-width: 440px;
  margin: 0 auto;
  padding: 0 12px;

  @include breakpoint(medium) {
    max-width: 660px;
  }

  @include breakpoint(large) {
    max-width: 960px;
  }
}

/* === simple grid layout system === */

.grid {
  @include clearfix();
  margin: 0;
  margin-left: -6px;
  list-style-type: none;

  & .grid_box {
    width: 20%;
    float: left;
    padding-left: 6px;
  }

  & .grid_box--nudge-1 { margin-left: 20%; }
  & .grid_box--nudge-2 { margin-left: 40%; }
  & .grid_box--nudge-3 { margin-left: 60%; }
  & .grid_box--nudge-4 { margin-left: 80%; }
  & .grid_box--nudge-5 { margin-left: 100%; }

  @include breakpoint(large) {
    margin-left: -$grid-gutter;

    & .grid_box {
      padding-left: $grid-gutter;
    }
  }
}

/* === card component === */

.card {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: $white;

  @include breakpoint(large) {
    border-radius: 8px;
    box-shadow: 0 2px 12px -6px black;
  }

  &.card--kana {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.2s;
    &:hover { transform: scale(1.05); }
  }

  &.card--modal {
    padding: 1.5em;
  }

}

/* === button component === */

.button {
  text-align: center;
  margin: 0 auto;

  &.button--play {
    display: block;
    width: 30%;
    margin-top: 1.5em;
    border-radius: 0.3em;
    padding: 6px 0;
    background: darken($pink, 8);

    &:hover { background: darken($pink, 12); }

  }

}

/* === icons === */

.icon {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 48px;
  height: 24px;
  background-size: 24px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: transform 0.2s;
  transform: scale(1);

  &:hover { cursor: pointer; transform: scale(1.2); }

  &.icon--play {       background-image: url("../img/icon-play.svg"); &:hover { transform: none; } }
  &.icon--close {      background-image: url("../img/icon-close.svg"); }
  &.icon--prev-arrow { background-image: url("../img/icon-prev-arrow.svg"); }
  &.icon--next-arrow { background-image: url("../img/icon-next-arrow.svg"); }

}

/* === utility classes === */

.u-no-mouse { pointer-events: none; }
.u-no-scroll { overflow: hidden; }
[v-cloak] { display: none; }

/* === kana-related elements === */

.kana_romaji {
  font-size: 1em;
  text-align: center;

  .grid_box & { margin-bottom: 6px; }

  @include breakpoint(medium) {
    font-size: 1.5em;
    .grid_box & { margin-bottom: 1em; }
  }

  .modal & {
    font-size: 1.5em;
  }

}

.kana_svg {
  display: block;
  width: 70%;
  height: 70%;
  margin: 10% auto;
	fill: none;
  stroke: $accent-color;
  stroke-width: 16px;
  stroke-linecap: round;
  stroke-linejoin: round;

  .card--modal & {
    width: 80%;
    height: 80%;
    margin: 0 auto;
  }
}

/* === modal === */

.modal-container {
  z-index: 2;
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: rgba(32, 32, 64, 0.7);
  transition: opacity 0.32s;
  pointer-events: all;

}
.modal {
  color: #545454;
  opacity: 0;
  z-index: 3;
  padding: 0 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  // thanks, dylan!
  max-width: 600px;
}

.modal_nav {
  @include clearfix();
  font-size: 1.4em;
  font-weight: bold;
  line-height: 2.5em;
  color: $white;

  & .item-left { float: left;  margin-right: -36px;  margin-left: -12px; }
  & .item-right { float: right; margin-left: -36px; margin-right: -12px; }

  &.modal_nav--top { line-height: 1.5em; }

}

.header {
  background: darken($body-background, 8);
  padding-top: 2rem;
  margin-bottom: $grid-gutter;
}

.header_logo {
  padding: 2rem 0;
  float: left;
  width: 100%;
  letter-spacing: 0.06em;
  text-align: center;
}

.header_text {
  font-size: 1rem;
  padding: 2rem 1em;
  float: left;
  width: 100%;
}

@include breakpoint(medium) {
  .header_logo {
    width: 35%;
  }

  .header_text {
    margin-left: 15%;
    width: 50%;
  }
}

.header_title {
  font-size: 3em;
  position: relative;
  line-height: 1em;
  display: inline-block;
}

.header_bubble {
  line-height: 1em;
  display: none;
  position: absolute;
  top: 0;
  right: -4em;
  font-size: 1rem;
  font-weight: bold;
  background: $white;
  padding: 0.25rem 0.5rem;
  color: $pink;
  border-radius: 1rem;
  vertical-align: middle;

  @include breakpoint(medium) {
    display: inline-block;
  }

}

.footer {
  @include clearfix();
  font-size: 1.25rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em 0;
  background: darken($body-background, 8);

  .label {
    display: block;
    font-size: 0.9rem;
  }

  .footer_block {
    width: 100%;
    padding: 0.5em 0;
    float: left;

    @include breakpoint(medium) {
      width: 33.33333%;
    }
  }
}
