<!DOCTYPE html>
<html>
<head>
  <title>kakimasu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Kakimasu | learn how to write Japanese with interactive animations!">
  <meta name="googlebot" content="index,follow">
  <!-- open graph, twitter card ang google+ tags -->
  <meta property="og:url" name="twitter:url" content="https://rakujira.jp">
  <meta property="og:title" name="twitter:title" itemprop="name" content="rakujira">
  <meta property="og:description" name="twitter:description" itemprop="description" content="Kakimasu | learn how to write Japanese with interactive animations!">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_GB">
  <meta name="twitter:site" content="@rakujira">
  <meta name="twitter:creator" content="@rakujira">

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Poppins:600:latin']
      }
    });

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52026208-2', 'auto');
    ga('send', 'pageview');

  </script>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>

  <header class="header">
    <div class="wrap">
      <div class="header_logo">
        <h1 class="header_title">kakimasu<span class="header_bubble">beta</span></h1>
        <h5 class="header_subtitle">Let's write Japanese!</h5>
      </div>
      <div class="header_text">
        <p>Writing Japanese is hard, so this is my attempt at making it easier to learn.</p>
        <p>Try clicking a character to see its animation. \ o /</p>
      </div>
    </div>
  </header>

  <section class="wrap" id="grid-view" v-cloak>
    <div class="charset">
      Let's write:
      <select class="charset__select" v-model="charset">
        <option>hiragana</option>
        <option>katakana</option>
      </select>
    </div>
    <ul class="grid">
      <li v-for="item in items" :id="item.id" class="grid_box">
        <div v-if="item.spacer" class="card card--spacer"></div>
        <div v-else class="card card--kana" @click="open(item.id)">
          <svg class="kana_svg" viewBox="0 0 180 180">
            <path v-for="path in item.paths" :d="path.d"></path>
          </svg>
        </div>
        <h5 v-if="item.romaji" class="kana_romaji">{{item.romaji}}</h5>
      </li>
    </ul>
  </section>

  <div v-cloak id="modal-view" class="modal-container" transition="modal" v-show="isOpen" @click.self="close">
    <div class="modal" v-el:modal>

      <div class="modal_nav modal_nav--top">
        <div class="item-right" @click="close"> <i class="icon icon--close"></i> </div>
      </div>

      <div class="card card--modal">
        <svg class="kana_svg" v-el:svg viewBox="0 0 180 180">
          <path v-for="path in item.paths" :d="path.d" :data-duration="path.t" data-delay="10"></path>
        </svg>
        <a class="button button--play" @click="togglePlay">
          <i :class="['icon', isPlaying ? 'icon--pause' : 'icon--play']"></i>
        </a>
      </div>

      <div class="modal_nav modal_nav--bottom">
        <div class="item-left" v-if="item.prevItemId" @click="prev"> <i class="icon icon--prev-arrow"></i> </div>
        <div class="item-right" v-if="item.nextItemId" @click="next"> <i class="icon icon--next-arrow"></i> </div>
        <div class="kana_romaji u-no-mouse">{{item.romaji}}</div>
      </div>

    </div>
  </div>

  <footer class="footer">
    <div class="wrap">
      <div class="footer_block">
        <span class="label">have any feedback? email me!</span>
        whale at rakujira dot jp
      </div>
      <div class="footer_block">
        <span class="label">source code:</span>
        <a href="https://github.com/jaames/kakimasu">kakimasu on github</a>
      </div>
      <div class="footer_block">
        <span class="label">shoutout to</span>
        <a href="https://lightni.ng/">austin burk</a>
        <span class="label">for providing me with hosting (:</span>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="./js/min/app-min.js"></script>
</body>
</html>
