<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title><%= html.title %></title>
    <meta name="application-name" content="<%= html.title %>">
    <meta name="twitter:card" content="summary">
    <meta property="og:type" content="website">
    <meta property="og:url" name="twitter:url" content="<%= html.baseURL %>">
    <meta property="og:title" name="twitter:title" itemprop="name" content="<%= html.title %>">
    <meta property="og:image" name="twitter:image" content="<%= html.baseURL %>/assets/meta-image.png">
    <meta property="og:site_name" content="<%= html.title %>">
    <meta property="og:locale" content="en_US">
    <% if (html.creator) { %>
      <meta name="twitter:creator" content="<%= html.creator %>">
    <% } %>
    <% if (html.description) { %>
      <meta property="og:description" name="twitter:description" itemprop="description" content="<%= html.description %>">
      <meta name="description" content="<%= html.description %>"/>
    <% } %>
    <meta name="google" value="notranslate">
    <meta name="google" content="nositelinkssearchbox">
    <% if (html.webfontFamilies) { %>
      <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
      <script type="text/javascript">
        WebFont.load({
          google: {
            families: ["<%= html.webfontFamilies %>"]
          }
        });
      </script>
    <% } %>
  </head>
  <body>
    <noscript>
      Sorry, you need to enable JavaScript to run this app
    </noscript>
    <div id="app"></div>
  </body>
</html>
