/*!
 * kakimasu.rakujira.jp
 * --------------------
 * Author: James Daniel (github.com/jaames | rakujira.jp | @rakujira)
 * Build hash: ef4e08edf655655c0fc0
 * Chunk hash: 62e31b9114cb82355d16
 * Last updated: Tue Jan 08 2019
 */.kana__svg{margin:-5% 0;display:block;fill:none;stroke:#ff8b90;stroke-width:16px;stroke-linecap:round;stroke-linejoin:round}.kana__label{color:#fafafa;font-weight:700;font-size:1.25rem;text-align:center}@media print,screen and (min-width:40em){.kana__label{font-size:1.75rem}}