@import "foundation";

@include foundation-global-styles;

.navbar {
  line-height: 60px;
  height: 60px;
  padding: 0 14px;
}

.navbar__title {
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  padding: 0 14px;
  max-width: 960px;
}

@include foundation-button;

.is-under-modal {
  overflow: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s ease;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-active {
  opacity: 0;
}
