@import "foundation";

@include foundation-global-styles;

a, button {
  cursor: pointer;
}

.navbar {
  line-height: 9rem;
  height: 9rem;
}

.navbar .wrap {
  padding: 0 2rem;
}

.navbar__title {
  margin: 0;
  padding: 0 0rem;
}

.wrap {
  margin: 0 auto;
  padding: 0 14px;
  max-width: 960px;
}

@include foundation-button;

.is-under-modal {
  overflow: hidden;
}

.is-under-modal .grid, .is-under-modal .navbar {
  transition: filter 0.25s ease;
  filter: blur(4px);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .25s ease;
}
.fade-enter {
  opacity: 0;
}
.fade-leave-active {
  opacity: 0;
}
